/* Hide default number input arrows in all browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.footer-wrapper{
  height: 300px;
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    height: 400px;
  }
  .footer-links ul{
    gap: 14px;
    flex-wrap: wrap;
  }
  .footer-links ul button {
    font-size: 12px;
  }
  .footer-links ul a {
    font-size: 12px;
  }
  
}